table {
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid black;
}

.medalla {
  width: 50px;
}

.icono {
  width: 20px;
  margin: 0 10px;
}

.container-listado{
    padding:30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}